<acl>
    <page-services-apcupsd>
        <name>WebCfg - Services: Apcupsd System Monitoring page</name>
        <description>Allow access to the 'Services: Apcupsd System Monitoring' page.</description>
        <patterns>
            <pattern>ui/apcupsd/*</pattern>
            <pattern>api/apcupsd/*</pattern>
        </patterns>
    </page-services-apcupsd>
</acl>
